<footer class="footer has-background-dark">
  <div class="content has-text-centered">
    <p class="has-text-white">
      &copy; 2020 - <%= Date.today.year %> Favoritos - Todos os direitos reservados <br>
      Desenvolvido por <a href="http://www.hendrew.com.br" class="has-text-white has-text-weight-bold">Hendrew Hélio</a>
    </p>
  </div>
</footer>
